<div class="row">
  <div class="jumbotron text-center register-title">
    <h1 class="super-title">Register</h1>
  </div>
</div>
<br>
<div class="container-fluid">
    <section class="container">
		<div class="container-page">
			<div class="col-md-7">

				<div class="form-group col-lg-12">
					<label>Name</label>
					{{input type="text" value=name class="form-control" placeholder="Please type your full name" autofocus="autofocus"}}
				</div>

				<div class="form-group col-lg-6">
					<label>Email Address</label>
          {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
				</div>

				<div class="form-group col-lg-6">
					<label>Repeat Email Address</label>
          {{input type="email" value=emailAddress2 class="form-control" placeholder="Please type again your e-mail address." autofocus="autofocus"}}
				</div>

				<div class="form-group col-lg-6">
					<label>Password</label>
					{{input type="password" value=password class="form-control" placeholder="Please type a password (A-Z,a-z,0-9)" autofocus="autofocus"}}
				</div>

				<div class="form-group col-lg-6">
					<label>Repeat Password</label>
					{{input type="password" value=password2 class="form-control" placeholder="Please type again your password" autofocus="autofocus"}}
				</div>
				<button type="submit" class="btn btn-primary btn-block" disabled={{isDisabled}} {{action 'register'}}>Register</button>
			</div>

      <div class="col-md-4">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to The Company's' Terms and Conditions
				</p>
				<p>
					While rare, recipes are subject to change based on user preferences and rate fluctuations -
					should such a fluctuation happen, we may request an additional ingredient. You have the option to recipe a full dish or to eat the new food. (Paragraph 13.5.8)
				</p>

			</div>
		</div>
	</section>
</div>
